/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here (set to be same as header) */
  height: 40px;
  border-top: 1px solid #e5e5e5;
}
.footer .container {
    margin-top: 10px;
}
.header,
.footer {
    width: 100%;
    background-color: #f5f5f5;
}
.header {
    height: 80px;
    border-bottom: 1px solid #e5e5e5;
}
.header ul {
    margin-top: 20px;
}
.content .container {
    margin-top: 40px;
}
/* Carousel styles
-------------------------------------------------- */
.carousel-jumbotron {
    min-height: 340px;
    padding: 30px 30%;
    color: inherit;
    background-color: #eee;
}
.carousel-jumbotron h1,
.carousel-jumbotron .h1 {
    color: inherit;
}
.carousel-jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.carousel-jumbotron > hr {
    border-top-color: #d5d5d5;
}
.carousel-jumbotron .container {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .carousel-jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .carousel-jumbotron h1,
    .carousel-jumbotron .h1 {
        font-size: 63px;
    }
}
/* Launch Opt Styles (Table)
-------------------------------------------------- */
td.nowrap {
    white-space: nowrap;
    min-width: 180px;
}