<!DOCTYPE html>
<html lang="en">
  <head>
        {% include meta.html %}
        <title>{{ page.title }}</title>
        {% include css.html %}
    </head>
    <body role="document" style="zoom: 1;">
        <div class="header">
            <div class="container">
                {% include header.html %}
            </div>
        </div>
        <div class="content">
            <div class="container">
                {% if page.nav_title != "Home" %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            {% assign panel_title = page.header_title %}
                            {% if page.header_title == empty %}
                                {% assign panel_title = page.nav_title %}
                            {% endif %}
                            <h1 class="panel-title">{{ panel_title }}</h1>
                        </div>
                        <div class="panel-body">
                            {{ content }}
                        </div>
                    </div>
                {% else %}
                    {{ content }}
                {% endif %}
            </div>
        </div>
        <div class="footer">
            <div class="container">
                {% include footer.html %}
            </div>
        </div>
        {% include scripts.html %}
        <!--{% if page.page_specific_scripts != empty %}  -- should be implied by for loop -->
            {% for script in page.page_specific_scripts %}
                <script src="{{ site.baseurl }}/js/{{ script }}"></script>
            {% endfor %}
        <!--{% endif %} see above -->
    </body>
</html>