<!DOCTYPE html>
<html lang="en">
  <head>
        {% include meta.html %}
        <title>{{ page.title }}</title>
        {% include css.html %}
    </head>
    <body role="document" style="zoom: 1;">
        <div class="header">
            <div class="container">
                {% include header.html %}
            </div>
        </div>
        <div class="content">
            <div class="container">
                {{ content }}
            </div>
        </div>
        <div class="footer">
            <div class="container">
                {% include footer.html %}
            </div>
        </div>
        {% include scripts.html %}
        {% for script in page.page_specific_scripts %}
            <script src="{{ site.baseurl }}/js/{{ script }}"></script>
        {% endfor %}
    </body>
</html>