---
nav_title: "Launch Options"
nav_url: "/launch-opts/"
nav_weight: 2
---
<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th><h3>Option</h3></th>
            <th><h3>Description</h3></th>
        </tr>
    </thead>
    <tbody>
        {% for launchopt in site.data.launchopts %}
            <tr>
                <td class="nowrap">
                    {%for opt in launchopt.opts %}
                        <h4 class="h5"><code>{{ opt }}</code></h4>
                    {% endfor %}
                </td>
                <td>{{ launchopt.desc }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
